{% extends "layout.html" %}

{% block page_title %} {% if keyword %} {{ keyword }}  {% else %}Страница продукции {% endif %} {% endblock %}
{% block page_js %}
    <script src="/pages/site/products/products.js"></script>
{% endblock %}
    
{% block page_css %}
    <link rel="stylesheet" href="/pages/site/products/products.css"/>
    {% endblock %}
    
    
{% block page_content %}

          {% include 'site/includes/fullwidth/fullwidth.html'%}
          {% include 'site/includes/modals/sale-modal.html' %}



    <div class="products-bg">
        <div class="container">
          <h1>{{ keyword }}</h1>
        </div>
    </div>



    <!-- Container 
    ================================================== -->
<div class="container">
    
    <ol class="breadcrumb">
  <li><a href="/">Главная</a></li>
  <li class="active">{{ keyword }}</li>
    </ol>
    <!-- Feauturette 
    ================================================== -->
<div class="row">
{% include 'site/includes/featurette/featurette.html' %}
</div>

<!-- /.feauturette -->
</div>
<!-- /.container -->

{% include 'site/includes/modals/product-modal.html' %}


{% endblock %}
