*.pyc
.idea/
venv/
config/production.py
config/development.py
bower_components/
output/
uploads/*
!uploads/avatars/
uploads/avatars/*
!uploads/avatars/default.png
node_modules/
application/pages/**/*.css
application/static/css/**/*.css
!application/static/css/libs/*.css
application/static/output/
.idea/*
lib/
lib/*
*.py[cod]
bin/
bin/*
share/
share/*
local/
local/*
include/
include/*
venv/
__pycache__/


idea/
.idea/*

lib/
lib/*

*.py[cod]
*.pyc

bin/
bin/*

share/
share/*

local/
local/*

include/
include/*

venv/
venv/*

output/
output/*

node_modules/
node_modules/*

bower_components/
bower_components/*

__pycache__/
__pycache__/*

migrations/
migrations/*

db/
db/*

uploads/
uploads/*

application/static/output/
application/static/output/*

config/production.py
config/development.py

!uploads/avatars/
uploads/avatars/*
!uploads/avatars/default.png
application/pages/**/*.css
application/static/css/**/*.css
!application/static/css/libs/*.css