{% block page_css %} 
<link rel="stylesheet" href="/pages/site/nav/nav.css"/>{% endblock %}
<nav class="navbar navbar-default navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
        <button type = "button" class = "navbar-toggle" data-toggle="collapse" data-target="#example-navbar-collapse">
         <span class = "sr-only">Toggle navigation</span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
         <span class = "icon-bar"></span>
        </button>
            
            <a class="navbar-brand logo" href="{{ url_for('site.index') }}">
                ИллюмиАрт
            </a>
        </div>

        <div class="collapse navbar-collapse navbar-left" id="example-navbar-collapse">
            <ul class="nav navbar-nav navbar-left">
<li class="dropdown megamenu">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Каталог <span class="caret"></span></a>
            <ul class="dropdown-menu">
                    {% for i in menu %}
                    <li><a class="btn" href="{{ i }}">{{ i }}</a></li>
                    {% endfor %}
            </ul>
                <li>
                    <a href="{{ url_for('site.contacts') }}">Контакты</a>
                </li>
                <li>
                    <a href="{{ url_for('site.about') }}">О нас</a>
                </li>
</li>



        </div>
            <!--form class="navbar-form navbar-left" role="search" method="get" action="#">
                <div class="input-group">
                    <input type="text" name="keyword" class="form-control input-sm"
                           placeholder="">
               <span class="input-group-btn">
                  <button class="btn btn-default btn-sm" type="submit">
                      <span class="fa fa-search"></span>
                  </button>
               </span>
                </div>
            </form-->

	    <ul class="nav navbar-nav navbar-right">
        {% editable 'phones in header' %}
            <li>
	  		   <a href="tel:+375447227222">+375447227222</a>
		    </li>
            <li>
               <a href="tel:+375291993921">+375291993921</a>
            </li>
        {% endeditable %}
        {% if g.user %}

                    <li id="nav-settings">
                        <a href="#">{{ g.user.name }}</a>
                    </li>
                    <li>
                        <a href="{{ url_for('account.signout') }}">Sign out</a>
                    </li>                
                    <!--li id="nav-signin">
                        <a href="{{ url_for('account.signin') }}">Sign in</a>
                    </li>
                    <li id="nav-signup">
                        <a href="{{ url_for('account.signup') }}">Sign up</a>
                    </li-->
        {% else %}
	    </ul>
        
        {% endif %}

        </div>
    </div>
</nav>
