{% extends "layout.html" %}

{% block page_title %}ИллюмиАрт - Искусство создавать праздник!{% endblock %}
{% block page_js %}
    <script src="/pages/site/index/index.js"></script>
    <script src="/pages/site/includes/forms/sale-modal-form.js"></script>
{% endblock %}
{% block page_css %}
    <link rel="stylesheet" href="/pages/site/index/index.css"/>
    <link rel="stylesheet" href="/pages/site/includes/fullwidth/fullwidth.css"/>
    <link rel="stylesheet" href="/pages/site/carousel/carousel.css"/>{% endblock %}

{% block page_content %}

{% include 'site/includes/carousel/carousel.html' %}

    <!-- Container
    ================================================== -->
<div class="container">
    <!-- Feauturette
    ================================================== -->


      <div class="row featurette">
        <div class="col-md-12">
          <h2 class="featurette-heading" style="text-align: center">Вас приветствует компания <span class="text-muted">ИллюмиАрт</span></h2>
          <p class="lead" style="text-align: center; font-size: 22px;">Искусство создавать праздник</p>
      </div>
    </div>
	      {% include 'site/includes/fullwidth/fullwidth.html'%}
        {% include 'site/includes/featurette/featurette2.html'%}
        {% include 'site/includes/modals/sale-modal.html' %}



        <!-- feauturette -->
</div>
<!--/container -->
{% endblock %}

