

{% extends "layout.html" %}

{% block page_title %} Контакты {% endblock %}
    
{% block page_content %}
{% include 'site/includes/fullwidth/fullwidth.html'%}
{% include 'site/includes/modals/sale-modal.html' %}
<div class="container">
<div class="row">


<div class="col-lg-12 col-sm-12">
<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=8j8TVb_YE3RO5c3Udy1xmoUrEvHxcGUj&amp;width=100%25&amp;height=400&amp;lang=ru_RU&amp;sourceType=constructor&amp;scroll=true"></script>
</div>

<div class="col-lg-6 col-sm-12">
<p>Контакты: </p>
<p>8 017 254 76 47</p>
<p>8 017 254 76 48(факс)</p>
<p>375 29 199 39 21</p>
<p>375 44 722 72 22</p>
<p>Skype: ИллюмиАрт Компания</p>
<p>Email: illumiarts@gmail.com</p>
</div>

<div class="col-lg-6 col-sm-12">
<p>Индивидуальный предприниматель </p>
Жилянин Руслан Юрьевич</p>
<p>220073, г. Минск, пр. Пушкина, д.64, кв.158</p>
<p>р/с 3013029329001 Банк ЗАО "БелСвиссБанк",</p>
<p>220004, г.Минск, пр. Победителей, 23, корп. 3 Код 175</p>
<p>тел. 017 254 76 47, 254 76 48 ф. 8044 722 72 22</p>
<p>УНП 192 223 427</p>
<p>Адрес: 220035, г. Минск, ул. Тимирязева д. 65Б, офис 017 (цокольный этаж)</p>
</div>

</div>
</div>







{% endblock %}








